.blog-container {
  display: flex;
  color: red;
  .navbar {
    .nav-left {
      display: flex;
    }

    .nav-right {
      display: flex;
    }
  }
}

.main-content-container {
  display: flex;
}

.worth-a-thousand-words {
  display: flex;
}

.elements {
  display: flex;
}

.more-tags {
  display: flex;
}

.html {
  display: flex;
}
